# Build files
.gradle
.kotlin
build
/gradle

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures
.claudeignore
.vscode
/plans
# Configuration files
keystore.properties
local.properties

# macOS specific files
.DS_Store
